{% extends "base.html" %}
{% block body %}

  {% if user.is_authenticated %}
  <p><a href="{% url 'create' %}" class="btn btn-primary">New</a></p>
  {% endif %}

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% for blog in blogs %}
        <div class="post-preview">
            <a href="{% url 'detail' blog.id %}">
                <!-- 一応ここのblog.idはblog.pkでも動作する -->
                <h2 class="post-title">
                  {{blog.content}}
                </h2>
            </a>
            <p class="post-meta">{{ blog.posted_date }} | {{ blog.posted_date|timesince }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
            <a href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li{% if page == page_obj.number %} class="pagi-item active"{% endif %}>
            <a href="?page={{ page }}">
                {{ page }}
            </a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
            <a href="?page={{page_obj.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}


  
  <!-- その名の通り、objectのlistをblogという変数に代入して,endforまで処理したあとfor文で次のオブジェクトを処理していく -->
    <!-- 次に値を表示させたいので、今回だとmodels.pyの content,posted_dateのField表示させたい -->

{% endblock %}

      <!--  -->
              <!-- {% if page == page_obj.number %} class="active"{% endif %} -->
                    <!--  -->