{% extends 'base.html' %}

{% block body %}

  <form method="post" action="{% url "login" %}">
  {% csrf_token %}

  <table class="table">
    {{ form }}
  </table>

  <input type="hidden" name="next" value="{{ next }}">
  <!-- ここのnextはnavi.htmlで設定した?nextのnext -->
  <button class="btn btn-primary" type="submit">ログインします</button>
  </form>

{% endblock %}


<!-- このままでは飛び先がないのでsettings.pyで LOGIN_REDIRECT_URL = '/' とすることでログインしたあとトップページへ飛んでくれる -->